@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%
}

.popover-body {
  min-width: 276px;
}

#legendContainer {
  position: relative;
  top: -150px;
  left: 10px;
  width: 120px;
  background: white;
}